<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.demo100.mapper.OrderMapper">
	<select id="findById" resultType="com.sly.demo100.model.Order"
		parameterType="int">
		SELECT * FROM `order` WHERE `order`.`id`=#{id}
	</select>


	<select id="findOrders" resultType="com.sly.demo100.model.Order">
		SELECT * FROM `order` WHERE `order`.`id` in
		<foreach collection="list" item="id" separator="," open="("
			close=")">
			#{id}
		</foreach>
	</select>
	
	
	<insert id="insertOrders">
		INSERT INTO `order`(`name`) VALUES
		<foreach collection="list" item="order" separator=",">
			(#{order.name})
		</foreach>
	</insert>
	
	<insert id="insertOrder" parameterType="com.sly.demo100.model.Order">
		INSERT INTO `order`(`name`) VALUES (#{name})
	</insert>
</mapper>