<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.demo100.mapper.OrderMapper">
	<select id="findById" resultType="com.sly.demo100.model.Order"
		parameterType="int">
		SELECT * FROM `order` WHERE `order`.`id`=#{id}
	</select>
</mapper>